/********* Général *********/

li {
    list-style: none;
    padding: 0 10px;
}

body {
    background-color: #d6c1a3;
    position: relative;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: flex;
    color: #d6c1a3;
}

a:hover {
    color: beige;
}

header {
    color: darkred;
    font-size:50px;
    text-decoration: underline;
    text-align: center;
    width: 100%;
}

img {
    margin-left: 20px;
}

article {
    font-size: 125%;
    color: black;
    font-style:italic;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 15px;
}

h1 {
    color: darkred;
    font-size: 50px;
    font-family: "arial black", "sans serif";
    text-decoration: underline;
    text-align: center;
    margin: 2%;
}

h2 {
    color: darkred;
    font-size:1.8em;
    font-family:"arial black","sans serif";
    text-decoration: underline;
    margin-top: 2.5%;
    margin-left: 15px;
    margin-bottom: 1.5%;
}

a:hover {
    color: white;
}

/********* Header *********/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(darkred, rgb(125, 25, 25));
    width: 100%;
    gap: 10px;
    height: 50px;
    padding: 10px;
}

.album {
    width: 400px;
    position: relative;
    display: flex;
}

.link-container {
    display: flex;
    color: #d6c1a3;
    font-size: 1.6rem;
    margin: 1%;
    text-decoration: none;
}

#cheat {
    visibility: hidden;
}

/********** Main **********/

.container-section {
    padding: 0 20px;
}

/********** Footer **********/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    height: 200px;
}

.copyright {
    color: white;
}

#button-up {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 40px;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 80px;
    cursor: pointer;
    color: white;
}