/********* Général *********/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #d6c1a3;
    position: relative;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0 10px;
}

h1 {
    color: darkred;
    font-size: 50px;
    font-family: "arial black", "sans serif";
    text-decoration: underline;
    text-align: center;
    margin: 2%;
}

h2 {
    color: darkred;
    font-size: 1.8em;
    font-family: "arial black", "sans serif";
    text-decoration: underline;
    margin-left: 10px;
}

h3 {
    color: #4d3625;
    text-align: center;
}

p {
    color: black;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 115%;
}

header {
    width: 100%;
}

/********* Header *********/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(darkred, rgb(125, 25, 25));
    width: 100%;
    gap: 10px;
    height: 50px;
    padding: 10px;
}

.link-container {
    display: flex;
    color: #d6c1a3;
    font-size: 1.6rem;
    margin: 1%;
    text-decoration: none;
}

.taylor-swift-pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5%;
}

.photos-identity {
    height: 360px;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    display: flex;
    color: #d6c1a3;
}


a:hover {
    color: beige;
}

/********** Main **********/

.container-section {
    padding: 0 20px;
}

.link-outside {
    color: darkred;
}

/********** Footer **********/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    height: 200px;
}

.copyright {
    color: white;
}

#button-up {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 40px;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 80px;
    cursor: pointer;
    color: white;
}