/********* Général *********/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #d6c1a3;
    position: relative;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0 10px;
}

h1 {
    color: darkred;
    font-size: 50px;
    font-family: "arial black", "sans serif";
    text-decoration: underline;
    text-align: center;
    margin: 2%;
}

h2 {
    color: darkred;
    font-size: 1.8em;
    font-family: "arial black", "sans serif";
    text-decoration: underline;
    margin-left: 10px;
    z-index: 1;
}

p {
    color: black;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 115%;
}

header {
    width: 100%;
}

a {
    text-decoration: none;
    display: flex;
    color: #d6c1a3;
}

a:hover {
    color: beige;
}

/********* Header *********/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(darkred, rgb(125, 25, 25));
    width: 100%;
    gap: 10px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link-container {
    display: flex;
    color: #d6c1a3;
    font-size: 1.6rem;
    margin: 1%;
    text-decoration: none;
}

.photos-identity {
    height: 360px;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7.5px 7.5px darkred;
    width: 60%;
}

#cheat {
    visibility: hidden;
}

/********** Main **********/

.container-section {
    padding: 0 20px;
}

.link-outside {
    color: darkred;
}

figcaption {
    display: flex;
    justify-content: center;
    margin: 10px;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

/******Hero Banner******/

.hero-banner {
    background-size: cover;
    background-position: center;
    height: 70vh;
    justify-content: space-between;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
}

.banner-text {
    color: white;
    z-index: 1;
}

.banner-caption {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 14px;
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.5);    
}

/********** Footer **********/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    height: 200px;
    margin-top: 50px;
}

.copyright {
    color: white;
}

#button-up {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 40px;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 80px;
    cursor: pointer;
    color: white;
}

/***** Responsive ****/

/* @media screen and (max-width: 992px) {
    body {

    }
}  */

/* @media screen and (max-width: 480px) {
   .albums {
        
   }
} */