/********* Général *********/

body
{
    background-color: #d6c1a3;
    position: relative;
    padding: 0;
    margin: 0;
}

header {
    color: darkred;
    font-size:50px;
    text-decoration: underline;
    text-align: center;
    width: 100%;
}

article {
    font-size: 125%;
    color: black;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    text-align: center;
}

li {
    list-style: none;
    padding: 0 10px;
}

h1 {
    color: darkred;
    font-size: 50px;
    font-family: "arial black", "sans serif";
    text-decoration: underline;
    text-align: center;
    margin: 2%;
}

h2 {
    color: darkred;
    font-size: 1.8em;
    font-family: "arial black", "sans serif";
    text-decoration: underline;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

section {
    text-align:left;
}

table {
    Border-Collapse:collapse;
    border-color: darkred;
    border: 3px solid darkred;
    text-align: center;
    margin: 10px;
}

a {
    text-decoration: none;
    display: flex;
    color: #d6c1a3;
}
    
a:hover {
    color: beige;
}

/********* Header *********/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(darkred, rgb(125, 25, 25));
    width: 100%;
    gap: 10px;
    height: 50px;
    padding: 10px;
    margin-bottom: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link-container {
    display: flex;
    color: #d6c1a3;
    font-size: 1.6rem;
    margin: 1%;
    text-decoration: none;
}

#affiche {
    display: block;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 8px solid darkred;
    border-style: ridge;
}

#onstage {
    margin: 2.5%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cheat {
    visibility: hidden;
}

/********** Main **********/

.container-section {
    padding: 0 20px;
}

/********** Footer **********/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    height: 200px;
    margin-top: 50px;
}

.copyright {
    color: white;
}

#button-up {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 40px;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 80px;
    cursor: pointer;
    color: white;
}