/********* Général *********/

body
{
    background-color: #d6c1a3;
    position: relative;
    padding: 0;
    margin: 0;
}

/********* Header *********/

header {
    color: darkred;
    font-size: 50px;
    font-family: "arial black", "sans serif";
    text-decoration: underline;
    text-align: center;
    margin: 2%;
}

#identity,
#albums,
#erastour {
    color: #d6c1a3;
    display: inline;
    font-size: 150%;
    margin: 1%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(darkred, rgb(125, 25, 25));
    margin-bottom: 40px;
}

#affiche {
    display: block;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 8px solid darkred;
    border-style: ridge;
}

#onstage {
    margin: 2.5%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article {
    font-size: 125%;
    color: black;
    font-style:italic;
    margin: 10px;
}

h2 {
    color: darkred;
    font-family:"arial black","sans serif";
    text-decoration:underline;
    margin: 10px
}

section {
    text-align:left;
}

table {
    Border-Collapse:collapse;
    border-color: darkred;
    border: 3px solid darkred;
    text-align: center;
    margin: 10px;
}
    
a:link {
    color: #d6c1a3;
}

a:visited {
    color: #d6c1a3;
}

a:hover {
    color: saddlebrown;
}

#button-up {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 40px;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 75px;
    cursor: pointer;
}

/********** Footer **********/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    height: 200px;
}